@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
}
.container {
    width: 590px;
    height: 100vh;
    margin: 0 auto;
}
.header {
    padding: 15px;
    color: #fff;
}
.header .title {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.header .title i {  /* Perbaikan selector */
    font-size: 24px;
    margin-right: 10px;
}
.header .title span {
    font-size: 18px;
}
.content {
    padding: 15px;
}
.card {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.input-control {
width: 100%;
display: block;
padding: 0.5rem;
font-size: 1rem;
margin-bottom: 10px;
}
.text-right {
text-align: right;
}
button {
padding: 0.5rem 1rem;
font-size: 1rem;
cursor: pointer;
background: #ee9ca7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: #ee9ca7;  /* fallback for old browsers */
color: #fff;
border: 1px solid;
border-radius: 3px;
}
.task-item {
    display: flex;
    justify-content: space-between;
}
.text-orange {
    color: orange;
}
.text-red {
    color: red;
}
.task-item.done span {
    text-decoration: line-through;
    color: #ccc;
}
.input-control {
    width: 100%;
}
.text-right {
    display: flex;
    justify-content: right;
}

.low-priority {
    border-left: 5px solid green;  /* Menggunakan warna hijau untuk prioritas rendah */
}

.high-priority {
    border-left: 5px solid red;    /* Menggunakan warna merah untuk prioritas tinggi */
}